- user.categories.each do |categories|
  - categories.images.each do |image|
    .box.panel.panel-default
      .panel.panel-default
        .panel-heading
          = image.image_title
        .panel-body
          = link_to image_tag(image.image_url(:thumb)), image_path(image), class:'rounded'
        .panel-footer
          = t('category.cat')
          = link_to "#{image.category.name}", category_path(image.category)
          %br
          - if image.category != nil
            = "#{t('submitted_by')}"
            = link_to "#{image.category.user.username}", user_path(image.category.user)