.row
  .col-lg-2.col-md-3.col-xs-12
    .panel.panel-default
      #user.panel.panel-heading
        %h3
          = @user.username
      .panel.panel-body
        = image_tag @user.avatar.url(:profile), class:'rounded'# if @user.avatar?
        %br
        = @user.first_name
        = @user.last_name
      .panel.panel-footer
        = @user.email
        %br
        - if current_user == @user
          = link_to t('edit'), edit_user_path(@user)
        %br
        %br
        - if user_signed_in? && current_user != @user
          - if current_user.following?(@user)
            = button_to t('user.unfollow'), friendship_path(user_id:@user.id), method: :delete, class:'btn btn-light'
          - else
            = button_to t('user.follow'), friendships_path(user_id:@user.id), class:'btn btn-light'
        %br
          - if @user.following.any?
            - @u.each do |user|
              - user.categories.each do |category|
                = t("pics_category")
                = link_to "#{category.name}", category_path(id:category.id)
                %br
                = t("user_profile")
                = link_to "#{user.username}", user_path(id:user.id)
                %br
                %br
  .col-lg-5.col-md-5.col-xs-12
    %h5
      = t('user.my_pics')
    #pictures.transitions-enabled
      = render(partial: 'show_pics', locals: { user: @user})
  .col-lg-5.col-md-4.col-xs-12
    %h5
      = t("user.foll_pics")
    - if @user.following.any?
      - @u.each do |user|
        #pictures.transitions-enabled
          = render(partial: 'show_pics', locals: { user: user})
