.row
  .col-12.col-md-3
    .box.panel.panel-default
      .panel.panel-heading
        %h1
          = @user.username
      .panel.panel-body
        = image_tag @user.avatar.url(:profile), class:'rounded' if @user.avatar?
        %br
        = @user.first_name
        = @user.last_name
      .panel.panel-footer
        = @user.email
        %br
        = link_to 'Edit', edit_user_path(@user)
        %br
        %br
        - if user_signed_in? && current_user != @user
          - if current_user.following?(@user)
            = button_to 'Unfollow', friendship_path(user_id:@user.id), method: :delete, class:'btn btn-light'
          - else
            = button_to 'Follow', friendships_path(user_id:@user.id), class:'btn btn-light'
        %br
          - if @user.following.any?
            - @u.each do |user|
              - user.categories.each do |category|
                = link_to "Pics category:  #{category.name}", category_path(id:category.id)
                %br
                = link_to "User's profile: #{user.username}", user_path(id:user.id)

  .col-12.col-md-5
    %h5.text-center MY Pics
    #images.transitions-enabled
      = render(partial: 'show_pics', locals: { user: @user})
  .col-12.col-md-4
    %h5.text-center Following User's Pics
    - if @user.following.any?
      - @u.each do |user|
        #images.transitions-enabled
          = render(partial: 'show_pics', locals: { user: user})
