= form_for @category do |f|
  - if @category.errors.any?
    - @category.errors.full_messages.each do |msg|
      .alert.alert-danger= msg
  .form-group
    = f.label t('categories.new.name')
    = f.text_field :name, class:'form-control'

  = f.submit t('submit'), class:"button btn btn-light btn-default"
  = link_to t('cancel'), categories_path, class:'btn btn-light btn-default'
