= form_for @category do |f|
  - if @category.errors.any?
    - @category.errors.full_messages.each do |msg|
      .alert.alert-danger= msg
  .form-group
    = f.label 'Category name'
    = f.text_field :name, class:'form-control'
  %br/
  = f.submit 'Submit', class:'btn btn-light'
  = link_to 'Cancel', categories_path, class:'btn btn-light btn-default'
  / link_to 'Delete', categories_destroy_path, class:'delete', method: :delete, data: {confirm: 'Are you sure?'}
%br/
