#pictures.transitions-enabled.pagination-centered.infinite-scroll.clearfix
  - if @images.exists?
    - @images.each do |image|
      .box.panel.panel-default
        .panel-heading
          = link_to image.image_title, image_path(image)
        .panel-body
          = link_to image_path(image) do
            = image_tag image.image_url(:thumb), class:'img-fluid rounded'
        .panel-footer
          - if image.category != nil
            = "#{t('submitted_by')}"
            = link_to "#{image.category.user.username}", user_path(image.category.user)
