#images.transitions-enabled
  - if @images.exists?
    - @images.each do |image|
      .box.panel.panel-default
        .panel-heading
          /
        .panel-body
          = link_to image.image_title, image_path(image)
          = link_to image_path(image) do
            = image_tag image.image_url(:thumb), class:'rounded'
          = link_to "#{t('submitted_by')} #{image.category.user.username}", user_path(image.category.user)
          