.row
  .col-lg-8.offset-lg-2.col-md-10.offset-md-1.col-xs-12
    %h2 
      = t('category.edit')
    = render 'shared/edit_categories'

#editor
  %h3
    Images in #{@category.name}
#pictures.transitions-enabled
  - if @category.images.exists?
    - @category.images.each do |image|
      .box.panel.panel-default
        .panel.panel-default
          .panel-heading
            = image_tag image.image_url(:thumb)
            = link_to t('delete'), image_path(image), class:'delete', method: :delete, data: {confirm: 'Are you sure?'}
