.row
  .col-lg-8.offset-lg-2.col-md-10.offset-md-1.col-xs-12
    .row
      .col-12
        %h1= @image.image_title
    .row
      .col-12
        .panel-show
          .picture-show
            = image_tag @image.image_url(:large), class:'img-fluid rounded'
    .row
      .col-lg-3.col-md-3.col-xs-2
        .picture-show
          = link_to like_image_path(@image), class: "like-btn", method: :put, remote: :true do
            %span
              %i.fa.fa-heart
            %span.likes-count= @image.get_upvotes.size
      .col-lg-5.col-md-5.col-xs-4
        .picture-show
          = t('submitted_by')
          - if user_signed_in?
            = link_to @image.category.user.username, user_path(@image.category.user.id)
          - else
            = @image.category.user.username
      .col-lg-4.col-md-4.col-md-6
        .picture-show
          - if @image.category.user == current_user
            = link_to t('edit'), edit_image_path, class: "btn btn-default"
            = link_to t('delete'), image_path(@image), method: :delete, data: { confirm: t("ar_sure") }, class: "btn btn-default"
    .row
      .col-lg-9.col-md-9.col-xs-12
        = @image.image_description
%br
.row
  .col-lg-6.offset-lg-2.col-md-10.offset-md-1.col-xs-12
    = link_to t('back'), images_path, class: "btn btn-default"
%br
.row
  .col-lg-6.offset-lg-2.col-md-10.offset-md-1.col-xs-12
    %h4
      = t('comment.add')
    = render 'comments/form'
    = render @image.comments
